@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: "Cabin", sans-serif !important;
}

body {
    margin: 0;
}

h1 {
    font-weight: 500;
}

/* Navbar */

.navbar {
    background-color: #FFFFFF;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}

.navbar-left {
    margin-left: 15%;
}

.navbar-left-brand {
    color: #ff7f00;

    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.navbar-right {
    margin-right: 15%;
}

.navbar-right-element {
    color: #2b2f33;
    font-size: 1.2rem;
    font-weight: 500;

    align-items: center;
    margin-left: 35px;
    text-decoration: none;

    transition: color 0.3s ease;
}

.active {
    color: #ff7f00;
}

.navbar-right-element:hover,
.navbar-right-element:focus {
    color: #ff7f00;
}

/* Search content */

.search-content-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.search-content-h1 {
    font-size: 60px;
    font-weight: 500;
    color: #2b2f33;
}

/* Search results */

.search-results-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.search-results-element {
    width: 35vw;
}

/* Winkelwagen */

.winkelwagen-content-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.winkelwagen-content-h1 {
    font-size: 60px;
    font-weight: 500;
    color: #2b2f33;
    text-align: center;
}

.winkelwagen-content-checkout-container {
    display: flex;
    margin-bottom: 50px;
}

.winkelwagen-content-price-container {
    margin-right: auto;
}

/* Bestellingen */

.bestellingen-chip-container {
    display: flex;
    gap: 5px;
}

/* Mobile version */

@media (max-width: 768px) {

    /* Navbar */

    .navbar-left-brand {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .navbar-right-element {
        margin-left: 10px;
    }

    /* Search */

    .search-content-h1 {
        font-size: 40px;
        text-align: center;
    }

    .search-content-container {
        margin-top: 150px;
        width: 80%;
        margin-left: 10%;
    }

    /* Search results */

    .search-results-check {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 90%;
        margin-left: 5%;
    }

    .search-results-element {
        width: 80vw;
        margin-left: 10vw;
    }

    /* Winkelwagen */

    .winkelwagen-content-checkout-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .winkelwagen-content-price-container {
        margin-right: 0;
    }

    /* Bestellingen */

    .bestellingen-chip-container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

}
